version: '3.8'

services:
  db:
    image: postgres:15
    container_name: gestao_vagas_v2_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin_password
      POSTGRES_DB: gestao_vagas
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: